---

Checks: >
  *,

  -altera-unroll-loops,
  -altera-id-dependent-backward-branch,

  -altera-struct-pack-align,

  -bugprone-dynamic-static-initializers,
  -bugprone-easily-swappable-parameters,

  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,

  -fuchsia-statically-constructed-objects,
  -cert-err58-cpp,	 
  
  -google-readability-todo,

  -readability-uppercase-literal-suffix,
  -hicpp-uppercase-literal-suffix,
  -cert-dcl16-c,
  
  -readability-named-parameter,
  -hicpp-named-parameter,

  -llvm-header-guard,

  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-restrict-system-libc-headers,

  -modernize-use-trailing-return-type,
  -readability-redundant-access-specifiers,

  -cppcoreguidelines-avoid-non-const-global-variables,

HeaderFilterRegex: '\.hpp$'

WarningsAsErrors: '*'

CheckOptions:
  - key: misc-const-correctness.AnalyzeValues
    value: 0
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 1
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: '_'
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: k
  - key: readability-identifier-naming.StaticConstantCase
    value: CamelCase
  - key: readability-identifier-naming.StaticConstantPrefix
    value: k
  - key: readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key: readability-identifier-naming.ConstexprVariablePrefix
    value: k
  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.TypeTemplateParameterIgnoredRegexp
    value: expr-type
  - key: readability-identifier-length.IgnoredVariableNames
    value: ^ss$
  - key: readability-simplify-boolean-expr.ChainedConditionalReturn
    value: 1
  - key: readability-simplify-boolean-expr.ChainedConditionalAssignment
    value: 1
